body {
  background-color: #343a40;
}
#login, #option, #log {
  background-color: #f8f9fa;
  height: 100vh;
  overflow-x: hidden;
}
#logreturn {
  left: calc(100vw - 8rem);
  top: calc(100vh - 5rem);
}
._description + ._tip {
  z-index: 11;
}
._description:hover + ._tip {
  display: inline !important;
}
/* bootstrap */
.modal-content {
  animation: modal-content .3s;
}
@keyframes modal-content {
  from {
    transform: translate(0, -25%);
  }
  to {
    transform: translate(0, 0);
  }
}
/* 3D效果 */
#login {
  transform: rotateY(0deg) translateZ(50vw);
}
#option {
  transform: rotateY(90deg) translateZ(50vw);
}
#log {
  transform: rotateY(180deg) translateZ(50vw);
}
.login_to_option {
  animation: login_to_option 2s;
  transform: rotateY(-90deg);
}
.option_to_log {
  animation: option_to_log 2s;
  transform: rotateY(-180deg);
}
.log_to_option {
  animation: log_to_option 2s;
  transform: rotateY(-90deg);
}
.option_to_login {
  animation: option_to_login 2s;
  transform: rotateY(0deg);
}
.log_to_login {
  animation: log_to_login 2s;
  transform: rotateY(0deg);
}
@keyframes login_to_option {
  0% {
    transform: translateZ(-50vw) rotateY(0deg);
  }
  25% {
    transform: translateY(10vw) translateZ(-200vw) rotateY(0deg);
  }
  75% {
    transform: translateY(10vw) translateZ(-200vw) rotateY(-90deg);
  }
  100% {
    transform: translateZ(-50vw) rotateY(-90deg);
  }
}
@keyframes option_to_log {
  0% {
    transform: translateZ(-50vw) rotateY(-90deg);
  }
  25% {
    transform: translateY(10vw) translateZ(-200vw) rotateY(-90deg);
  }
  75% {
    transform: translateY(10vw) translateZ(-200vw) rotateY(-180deg);
  }
  100% {
    transform: translateZ(-50vw) rotateY(-180deg);
  }
}
@keyframes log_to_option {
  0% {
    transform: translateZ(-50vw) rotateY(-180deg);
  }
  25% {
    transform: translateY(10vw) translateZ(-200vw) rotateY(-180deg);
  }
  75% {
    transform: translateY(10vw) translateZ(-200vw) rotateY(-90deg);
  }
  100% {
    transform: translateZ(-50vw) rotateY(-90deg);
  }
}
@keyframes option_to_login {
  0% {
    transform: translateZ(-50vw) rotateY(-90deg);
  }
  25% {
    transform: translateY(10vw) translateZ(-200vw) rotateY(-90deg);
  }
  75% {
    transform: translateY(10vw) translateZ(-200vw) rotateY(0deg);
  }
  100% {
    transform: translateZ(-50vw) rotateY(0deg);
  }
}
@keyframes log_to_login {
  0% {
    transform: translateZ(-50vw) rotateY(-180deg);
  }
  25% {
    transform: translateY(10vw) translateZ(-200vw) rotateY(-180deg);
  }
  75% {
    transform: translateY(10vw) translateZ(-200vw) rotateY(-360deg);
  }
  100% {
    transform: translateZ(-50vw) rotateY(-360deg);
  }
}