._description + ._tip {
  z-index: 11
}
._description:hover + ._tip {
  display: inline !important;
}
/*
  transform: perspective(1000px) rotateY(10deg);
  transform-origin: left;
  background: grey;
*/